﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <iframe src='https://webchat.botframework.com/embed/fod-dipa-azure-bot?s=N85IY5z93Zc.h1r1eX9Bdg2JsosnTdFsKVERthaPLIUeyxLXLYa8RYc' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>
